include "~/.nano/conf.nanorc"
include "~/.nano/Dockerfile.nanorc"
include "~/.nano/git.nanorc"
include "~/.nano/gitcommit.nanorc"
include "~/.nano/go.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/html.j2.nanorc"
include "~/.nano/java.nanorc"
include "~/.nano/javascript.nanorc"
include "~/.nano/js.nanorc"
include "~/.nano/json.nanorc"
include "~/.nano/markdown.nanorc"
include "~/.nano/nanorc.nanorc"
include "~/.nano/nginx.nanorc"
include "~/.nano/patch.nanorc"
include "~/.nano/php.nanorc"
include "~/.nano/puppet.nanorc"
include "~/.nano/python.nanorc"
include "~/.nano/ruby.nanorc"
include "~/.nano/sed.nanorc"
include "~/.nano/sh.nanorc"
include "~/.nano/sql.nanorc"
include "~/.nano/xml.nanorc"
include "~/.nano/yaml.nanorc"
include "~/.nano/zsh.nanorc"